// stylelint-disable declaration-no-important

// Cart Page.
//

.shopping-cart-form.b {

  .cart-details {
    .bottom {
      align-items: center;
      justify-content: center;

      .update-cart-quantities-item {
        display: inline-block;
        width: auto;
        margin: auto auto auto 17px;
        font-size: 1rem;
        line-height: 1;
        padding: 0.5rem 2.5rem 0.5rem 1rem;
        height: auto;
        background-image: url(../themes/custom/digital_store_theme/images/icons/update-item.svg);
        background-repeat: no-repeat;
        background-position: 96% 50%;
        background-size: 25px;
        background-color: #2c7aee;
        color: #fff;
      }
    }
  }

  .order-items {
    width: 100%;
    margin-bottom: 20px;
    overflow-x: auto;
    margin-top: 1.5rem;
    position: relative;
    border-spacing: 0;

    img {
      box-shadow: 0 0 10px 0 rgba(4, 4, 4, .4);
      border: 2px solid #fff;
      width: 59px;
      height: 54px;
      margin: auto;
      display: block;
    }

    .quantity {
      margin: auto;
      max-width: 60px;
      text-align: center;
      position: relative;
    }

    .remove-order-item {
      background: url(../themes/custom/digital_store_theme/images/icons/remove-item.svg) no-repeat 50% 50%;
      background-position: center center;
      color: #fff !important;
      background-size: cover;
      text-indent: -1000px;
      width: 25px;
      height: 25px;
      float: right;
      margin: 0;
      padding: 0;
      border: 0;
      opacity: 0.8;
      border-radius: 14px;

      &:hover {
        opacity: 1;
      }
    }

    th {
      text-transform: capitalize;
      padding: 10px;
    }

    td {
      vertical-align: middle;
      padding: 0;

      .item, .js-form-type-number {
        border-top-left-radius: 4px;
        border-bottom-left-radius: 4px;
        font-weight: 500;
        color: #32325d;
        padding: .9em .8em .9em 1em;
        position: relative;
        background-color: #edf2f8;
        margin: 2px;
        max-height: 53px;

        .price {
          font-weight: 300;
        }
      }

      .js-form-type-number {
        padding: .5em .8em .9em 1em;
      }

      .item-action {
        border-radius: 5px;
        background-color: #fff;
        font-weight: 500;
        color: #424770;
        padding: 1em .8em 1em 1em;
        -webkit-box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
        box-shadow: 0 50px 100px rgba(50, 50, 93, .1), 0 15px 35px rgba(50, 50, 93, .15), 0 5px 15px rgba(0, 0, 0, .1);
        margin-bottom: 2px;

        .price {
          font-weight: bold;
        }
      }

      .item-total {
        display: inline-block;
        vertical-align: middle;
        position: relative;
      }

      .price {
        font-size: 18px;
        text-align: center;
      }
    }
  }

  .continue-shopping {
    color: #1b1e3a;

    &:hover {
      color: #343a40;
    }

    &.clearfix {
      display: block;
      position: relative;
      clear: both;
      width: 100%;
    }
  }

  .order-total {
    width: auto;
    float: right;
    color: #065a6b;

    * {
      display: inline-block;
      vertical-align: baseline
    }

    .price {
      margin-left: 10px;
      font-size: 20px;
      font-weight: bold;
      color: #000000;
    }
  }

  .billing-details {
    display: block;
    position: relative;
    color: #32325d;
    margin: 40px 0 10px 0;

    h5 {
      border-bottom: 1px solid #e8e8fb;
      padding-bottom: .5rem;
      margin-bottom: 1.2rem;
      margin-right: 15px;
      margin-left: 15px;
      font-size: 1rem;
    }

    div.address-container-inline > .form-item {
      display: block;
      margin-right: 0;
      width: 100%;
      margin-bottom: 1rem;

      &.form-item-billing-details-address-administrative-area {
        width: 50%;
        padding-right: 5px;
        margin: 0 0 1rem 0;
        float: left;
      }

      &.form-item-billing-details-address-postal-code {
        width: 50%;
        padding-left: 5px;
        margin: 0 0 1rem 0;
        float: left;
      }
    }

    label {
      display: block;
      margin-bottom: .2rem;
      width: 100%;
      font-size: 0.9rem;
    }

    .form-item-shopping-cart-step-billing-details-header {
      padding: 0 5px;
      margin: -31px auto auto auto;
      display: table;

      h4 {
        margin-bottom: 25px;
        font-size: 15px;
        text-align: center;
        background: #f8fbfd;
      }
    }

    input {
      max-width: 100%;
      width: 100%;
    }

    .btn-check-out {
      display: block;
      position: relative;
      width: auto;
      color: #fff;
      background-color: #2d7aee;
      padding: .5rem 1.75rem;
      font-size: .9rem;
      font-weight: 700;
      max-width: 300px;
      margin-top: 1rem;
      margin-right: 0;
      margin-left: auto;
    }
  }

  .o-i-l {
    background-color: #edf2f8;
    padding: .3em .8em .4em .8em;
    margin: 2px;
    border-radius: 4px;
  }
}